* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  }
  
  /* css comments here */
  /*background photo by Lisa Fotios from Pexels */

  body {
        height: 120vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
       /* background-image: url("assets/images/water.jpg"); */
  }

  .container{
    width: 80vw;
    max-width: 80%;
    height: 95vh;
    box-shadow: 3px 5px 10px 5px;
    border-radius: 7px;
    background-color: rgba(89, 134, 156, 0.6); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
  }

  .startQuizBtn {
    font-size: large;
    font-weight: bold;
    color: lightskyblue;
    background: rgb(3, 21, 49);
    width: 12rem;
    height: 4rem;
    border-radius: 7px;
    padding: 10px;
    margin: 6px;
  }

  .clearLeaderboard {
    font-size: large;
    font-weight: bold;
    color: lightskyblue;
    background: rgb(3, 21, 49);
    width: 12rem;
    height: 4rem;
    border-radius: 7px;
    padding: 10px;
    margin: 6px;
  }

  .timer {
    font-size: large;
    font-weight: bold;
    background-color: rgb(135, 184, 212);
    width: 12rem;
    height: 4rem;
    border-radius: 7px;
    padding: 10px;
    color: black;
    margin: 6px;
   
       } 

   .questionContainer{
    width: 80vw;
    max-width: 90%;
    height: 20vh;
    background-color: rgb(135, 184, 212);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    margin-top: 1em;
    margin-bottom: .5em;
  }

  .choicesContainer{
    width: 80vw;
    max-width: 90%;
    height: 20vh;
    background-color: rgb(171, 197, 211);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    margin-top: .5em;
    margin-bottom: .5em;
  }
  
  .feedbackContainer{
    width: 80vw;
    max-width: 90%;
    height: 20vh;
    background-color: rgb(3, 37, 53);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    margin-top: 2rem;
    margin-bottom: .5em;
  }

  #countdown{
    background: none;
    color: black;
    
  }


/* Table styles from w3 schools */
  cite {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  table {
    font-family: arial, sans-serif;
   /* border-collapse: collapse; */
    width: 200px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }